In [8]:
import pandas as pd

path = "/content/drive/MyDrive/dummy_timesheets_50_employees_6months.xlsx"

df = pd.read_excel(path, parse_dates=["Date", "Start Time", "End Time"])
df.head()


df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First Name      4798 non-null   object
 1   Last Name       4798 non-null   object
 2   Employee ID     4798 non-null   int64
 3   Date            4798 non-null   datetime64[ns]
 4   Start Time      4798 non-null   datetime64[ns]
 5   End Time        4798 non-null   datetime64[ns]
 6   Unpaid Breaks   4798 non-null   int64
 7   Regular         4798 non-null   float64
 8   Hourly Rate     4798 non-null   float64
 9   OT              4798 non-null   int64
 10  Double OT       4798 non-null   int64
 11  Paid Total      4798 non-null   float64
 12  Schedule        4798 non-null   object
 13  Job Site        4798 non-null   object
 14  Position        4798 non-null   object
 15  Manager Note    0 non-null      float64
 16  Clock In Note   0 non-null      float64
 17  Clock Out Note  0 non-null      float64
dtypes: datetime64[ns](3), float64(6), int64(4), object(5)
memory usage: 674.8+ KB

In [9]:
print("Rows:", len(df))
print("Columns:", df.columns.tolist())

# Check missing values
df.isna().sum()

# Quick stats
df.describe(include="all").T

Rows: 4798
Columns: ['First Name', 'Last Name', 'Employee ID', 'Date', 'Start Time', 'End Time', 'Unpaid Breaks', 'Regular', 'Hourly Rate', 'OT', 'Double OT', 'Paid Total', 'Schedule', 'Job Site', 'Position', 'Manager Note', 'Clock In Note', 'Clock Out Note']

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
First Name,4798,50,Emp49,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last Name,4798,1,Dummy,4798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employee ID,4798.0,NaN,NaN,NaN,1025.421426,1001.0,1013.0,1025.0,1038.0,1050.0,14.500048
Date,4798,NaN,NaN,NaN,2025-08-28 07:33:26.335973376,2025-06-01 06:00:00,2025-07-15 14:00:00,2025-08-28 14:00:00,2025-10-11 04:00:00,2025-11-24 22:00:00,NaN
Start Time,4798,NaN,NaN,NaN,2025-08-28 07:33:26.335973376,2025-06-01 06:00:00,2025-07-15 14:00:00,2025-08-28 14:00:00,2025-10-11 04:00:00,2025-11-24 22:00:00,NaN
End Time,4798,NaN,NaN,NaN,2025-08-28 16:03:26.335973632,2025-06-01 14:30:00,2025-07-15 22:30:00,2025-08-28 22:30:00,2025-10-11 12:30:00,2025-11-25 06:30:00,NaN
Unpaid Breaks,4798.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Regular,4798.0,NaN,NaN,NaN,8.5,8.5,8.5,8.5,8.5,8.5,0.0
Hourly Rate,4798.0,NaN,NaN,NaN,15.390469,13.5,14.21,15.19,16.56,17.82,1.309993
OT,4798.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Double OT,4798.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Paid Total,4798.0,NaN,NaN,NaN,130.819285,114.75,120.79,129.12,140.76,151.47,11.134363
Schedule,4798,3,Afternoon,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Site,4798,10,Stuttgart Tulip Inn,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,4798,3,Night Auditor,1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Manager Note,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clock In Note,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clock Out Note,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
numeric_cols = ["Unpaid Breaks", "Regular", "Hourly Rate", "OT", "Double OT", "Paid Total"]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First Name      4798 non-null   object
 1   Last Name       4798 non-null   object
 2   Employee ID     4798 non-null   int64
 3   Date            4798 non-null   datetime64[ns]
 4   Start Time      4798 non-null   datetime64[ns]
 5   End Time        4798 non-null   datetime64[ns]
 6   Unpaid Breaks   4798 non-null   int64
 7   Regular         4798 non-null   float64
 8   Hourly Rate     4798 non-null   float64
 9   OT              4798 non-null   int64
 10  Double OT       4798 non-null   int64
 11  Paid Total      4798 non-null   float64
 12  Schedule        4798 non-null   object
 13  Job Site        4798 non-null   object
 14  Position        4798 non-null   object
 15  Manager Note    0 non-null      float64
 16  Clock In Note   0 non-null      float64
 17  Clock Out Note  0 non-null      float64
dtypes: datetime64[ns](3), float64(6), int64(4), object(5)
memory usage: 674.8+ KB

In [11]:
# Date-only and calendar info
df["date_only"] = df["Start Time"].dt.date
df["weekday"] = df["Start Time"].dt.day_name()
df["week_number"] = df["Start Time"].dt.isocalendar().week
df["month"] = df["Start Time"].dt.month
df["year"] = df["Start Time"].dt.year

# Duration in hours (End may be next day)
delta = df["End Time"] - df["Start Time"]
df["shift_duration_hours"] = delta.dt.total_seconds() / 3600

# Overnight flag
df["is_overnight"] = df["End Time"].dt.date > df["Start Time"].dt.date

#df[["Start Time","End Time","shift_duration_hours","is_overnight"]].head()
df[["date_only","weekday","week_number","is_overnight"]].head()

    date_only    weekday  week_number  is_overnight
0  2025-06-02     Monday           23          True
1  2025-06-04  Wednesday           23         False
2  2025-06-05   Thursday           23          True
3  2025-06-07   Saturday           23         False
4  2025-06-08     Sunday           23         False

In [12]:
df["Schedule"] = df["Schedule"].str.title()  # "Morning", "Afternoon", "Night"

In [13]:
df["Hourly Rate"] = 12.82

# Recalculate paid total
df["Paid Total"] = df["Regular"] * df["Hourly Rate"]

In [15]:
# Create unique list of employees
employee_master = df[["First Name", "Last Name"]].drop_duplicates().reset_index(drop=True)

# Generate 8-digit integer IDs
employee_master["User ID"] = 10000000 + (employee_master.index + 1)

# Merge back to your dataframe
df = df.merge(employee_master, on=["First Name", "Last Name"], how="left")

df[["First Name", "Last Name", "User ID"]].head()

  First Name Last Name   User ID
0      Emp01     Dummy  10000001
1      Emp01     Dummy  10000001
2      Emp01     Dummy  10000001
3      Emp01     Dummy  10000001
4      Emp01     Dummy  10000001

In [18]:
df["Employee ID"].nunique()

50

In [19]:
# 1) Get unique dummy employees
emp_dummy = (
    df[["First Name", "Last Name"]]
    .drop_duplicates()
    .sort_values(["First Name", "Last Name"])
    .reset_index(drop=True)
)

print("Unique dummy employees:", len(emp_dummy))
emp_dummy.head()

Unique dummy employees: 50

  First Name Last Name
0      Emp01     Dummy
1      Emp02     Dummy
2      Emp03     Dummy
3      Emp04     Dummy
4      Emp05     Dummy

In [20]:
real_names = [
    ("Abdul", "Wasay"),
    ("Aleksandra", "Czajkowska"),
    ("Aleksandra", "Evstigneeva"),
    ("Amir", "Benchaouche"),
    ("Andreas", "Dippong"),
    ("Andrei", "Sosna"),
    ("Ayla", "Brner"),
    ("Azer", "Mejri"),
    ("Bilal", "Aldumani"),
    ("Christina", "Glggler"),
    ("Christina", "Revenko"),
    ("Dana", "Tatarchuk"),
    ("Danylo", "Karhin"),
    ("David", "Naumenko"),
    ("Desteena", "Dinson"),
    ("Diana", "Chystiak"),
    ("Diana", "Kryvoshapka"),
    ("Elena", "Gut"),
    ("Gurpreet", "Bedi"),
    ("Hadi", "Amro"),
    ("Hammad", "Alam"),
    ("Hammad", "Khan"),
    ("Haydar", "Alhassan"),
    ("Irene", "Schmidt"),
    ("Islam", "Abdalla"),
    ("James-William", "Laryea"),
    ("Joao", "Reis"),
    ("Kemal", "Cetinkaya"),
    ("Kins", "Vincent"),
    ("Ksenia", "Kozhina"),
    ("Majed", "Shamiah"),
    ("Maxleo", "Hehn"),
    ("Mehdi", "Abbasian"),
    ("Mehreen", "Durrani"),
    ("Mirco", "D'Aloia"),
    ("Navdeep", "Sandhu"),
    ("Nima", "Ramezanifar"),
    ("Nour", "Bettaieb"),
    ("Olena", "Semeniuk"),
    ("Osama", "Abdellatif"),
    ("Rajeev", "Nagpal"),
    ("Robert", "Schneider"),
    ("Roman", "Sosna"),
    ("Saeed", "Paparidianat"),
    ("Sameer", "Shukla"),
    ("Samer", "Abdullah"),
    ("Saurav", "Saurav"),
    ("Sueda", "Kurteshi"),
    ("Zain", "Arif"),
    ("Ziyad", "Aldeeb"),
]

print("Real names:", len(real_names))
assert len(real_names) == len(emp_dummy), "Number of real names must match number of dummy employees!"

Real names: 50

In [29]:
# ========= 3. GET UNIQUE EMPLOYEE IDs =========
emp_ids = sorted(df["Employee ID"].dropna().unique())
print("Unique Employee IDs:", len(emp_ids))
print(emp_ids[:10])
# ========= 5. BUILD EMPLOYEE DIMENSION (ID  NAME + USER ID) =========
emp_map = pd.DataFrame({
    "Employee ID": emp_ids,
    "First Name New": [fn for fn, ln in real_names],
    "Last Name New":  [ln for fn, ln in real_names],
})

# 8-digit integer User IDs: 10000001, 10000002, ...
emp_map["User ID"] = 10000000 + np.arange(1, len(emp_map) + 1)

print("\nEmployee mapping preview:")
print(emp_map.head())

# ========= 6. MERGE BACK INTO MAIN DF ON EMPLOYEE ID =========
df = df.merge(emp_map, on="Employee ID", how="left")

# Overwrite dummy names with real names
df["First Name"] = df["First Name New"]
df["Last Name"]  = df["Last Name New"]

df = df.drop(columns=["First Name New", "Last Name New"])

# ========= 7. SANITY CHECKS =========
print("\nSanity checks:")
print("Unique users (by name):", df[["First Name", "Last Name"]].drop_duplicates().shape[0])
print("Unique User IDs:", df["User ID"].nunique())
print("User ID range:", df["User ID"].min(), "", df["User ID"].max())

print("\nSample of users:")
print(df[["Employee ID", "First Name", "Last Name", "User ID"]].drop_duplicates().head(15))

Unique Employee IDs: 50
[np.int64(1001), np.int64(1002), np.int64(1003), np.int64(1004), np.int64(1005), np.int64(1006), np.int64(1007), np.int64(1008), np.int64(1009), np.int64(1010)]

Employee mapping preview:
   Employee ID First Name New Last Name New   User ID
0         1001          Abdul         Wasay  10000001
1         1002     Aleksandra    Czajkowska  10000002
2         1003     Aleksandra   Evstigneeva  10000003
3         1004           Amir   Benchaouche  10000004
4         1005        Andreas       Dippong  10000005

Sanity checks:
Unique users (by name): 50

KeyError: 'User ID'

In [30]:
import pandas as pd
import numpy as np

# ========= 1. CONFIG: CHANGE PATHS IF NEEDED =========
#  Use the ORIGINAL dummy file (with Emp01 Dummy etc.), not the modified one
use_excel = True
path_in = "/content/drive/MyDrive/dummy_timesheets_50_employees_6months.xlsx"

# If you only have CSV:
# use_excel = False
# path_in = "/content/drive/MyDrive/dummy_timesheets_50_employees_6months.xlsx"

path_out_csv  = "/content/drive/MyDrive/dummy_timesheets_realnames_50_employees.csv"
path_out_xlsx = "/content/drive/MyDrive/dummy_timesheets_realnames_50_employees.xlsx"

# ========= 2. LOAD DATA FRESH FROM ORIGINAL FILE =========
date_cols = ["Date", "Start Time", "End Time"]

if use_excel:
    df = pd.read_excel(path_in, parse_dates=date_cols)
else:
    df = pd.read_csv(path_in, parse_dates=date_cols)

print("Loaded shape:", df.shape)
print("Columns:", df.columns.tolist())

# Drop any old User ID columns if they exist
for col in ["User ID", "User ID_x", "User ID_y"]:
    if col in df.columns:
        df = df.drop(columns=[col])

# ========= 3. GET UNIQUE EMPLOYEE IDs =========
emp_ids = sorted(df["Employee ID"].dropna().unique())
print("Unique Employee IDs:", len(emp_ids))
print(emp_ids[:10])  # preview

# ========= 4. REAL 50 EMPLOYEE NAMES (8 EXCLUDED ALREADY) =========
real_names = [
    ("Abdul", "Wasay"),
    ("Aleksandra", "Czajkowska"),
    ("Aleksandra", "Evstigneeva"),
    ("Amir", "Benchaouche"),
    ("Andreas", "Dippong"),
    ("Andrei", "Sosna"),
    ("Ayla", "Brner"),
    ("Azer", "Mejri"),
    ("Bilal", "Aldumani"),
    ("Christina", "Glggler"),
    ("Christina", "Revenko"),
    ("Dana", "Tatarchuk"),
    ("Danylo", "Karhin"),
    ("David", "Naumenko"),
    ("Desteena", "Dinson"),
    ("Diana", "Chystiak"),
    ("Diana", "Kryvoshapka"),
    ("Elena", "Gut"),
    ("Gurpreet", "Bedi"),
    ("Hadi", "Amro"),
    ("Hammad", "Alam"),
    ("Hammad", "Khan"),
    ("Haydar", "Alhassan"),
    ("Irene", "Schmidt"),
    ("Islam", "Abdalla"),
    ("James-William", "Laryea"),
    ("Joao", "Reis"),
    ("Kemal", "Cetinkaya"),
    ("Kins", "Vincent"),
    ("Ksenia", "Kozhina"),
    ("Majed", "Shamiah"),
    ("Maxleo", "Hehn"),
    ("Mehdi", "Abbasian"),
    ("Mehreen", "Durrani"),
    ("Mirco", "D'Aloia"),
    ("Navdeep", "Sandhu"),
    ("Nima", "Ramezanifar"),
    ("Nour", "Bettaieb"),
    ("Olena", "Semeniuk"),
    ("Osama", "Abdellatif"),
    ("Rajeev", "Nagpal"),
    ("Robert", "Schneider"),
    ("Roman", "Sosna"),
    ("Saeed", "Paparidianat"),
    ("Sameer", "Shukla"),
    ("Samer", "Abdullah"),
    ("Saurav", "Saurav"),
    ("Sueda", "Kurteshi"),
    ("Zain", "Arif"),
    ("Ziyad", "Aldeeb"),
]

print("Real names:", len(real_names))
assert len(real_names) == len(emp_ids), "Real names and Employee ID count must match!"

# ========= 5. BUILD EMPLOYEE DIMENSION (ID  NAME + USER ID) =========
emp_map = pd.DataFrame({
    "Employee ID": emp_ids,
    "First Name New": [fn for fn, ln in real_names],
    "Last Name New":  [ln for fn, ln in real_names],
})

# 8-digit integer User IDs: 10000001, 10000002, ...
emp_map["User ID"] = 10000000 + np.arange(1, len(emp_map) + 1)

print("\nEmployee mapping preview:")
print(emp_map.head())

# ========= 6. MERGE BACK INTO MAIN DF ON EMPLOYEE ID =========
df = df.merge(emp_map, on="Employee ID", how="left")

# Overwrite dummy names with real names
df["First Name"] = df["First Name New"]
df["Last Name"]  = df["Last Name New"]

df = df.drop(columns=["First Name New", "Last Name New"])

# ========= 7. SANITY CHECKS =========
print("\nSanity checks:")
print("Unique users (by name):", df[["First Name", "Last Name"]].drop_duplicates().shape[0])
print("Unique User IDs:", df["User ID"].nunique())
print("User ID range:", df["User ID"].min(), "", df["User ID"].max())

print("\nSample of users:")
print(df[["Employee ID", "First Name", "Last Name", "User ID"]].drop_duplicates().head(15))

# ========= 8. SAVE OUTPUT =========
df.to_csv(path_out_csv, index=False)
df.to_excel(path_out_xlsx, index=False)

print("\nSaved cleaned files to:")
print("CSV :", path_out_csv)
print("XLSX:", path_out_xlsx)

Loaded shape: (4798, 18)
Columns: ['First Name', 'Last Name', 'Employee ID', 'Date', 'Start Time', 'End Time', 'Unpaid Breaks', 'Regular', 'Hourly Rate', 'OT', 'Double OT', 'Paid Total', 'Schedule', 'Job Site', 'Position', 'Manager Note', 'Clock In Note', 'Clock Out Note']
Unique Employee IDs: 50
[np.int64(1001), np.int64(1002), np.int64(1003), np.int64(1004), np.int64(1005), np.int64(1006), np.int64(1007), np.int64(1008), np.int64(1009), np.int64(1010)]
Real names: 50

Employee mapping preview:
   Employee ID First Name New Last Name New   User ID
0         1001          Abdul         Wasay  10000001
1         1002     Aleksandra    Czajkowska  10000002
2         1003     Aleksandra   Evstigneeva  10000003
3         1004           Amir   Benchaouche  10000004
4         1005        Andreas       Dippong  10000005

Sanity checks:
Unique users (by name): 50
Unique User IDs: 50
User ID range: 10000001  10000050

Sample of users:
      Employee ID  First Name    Last Name   User ID
0            1001       Abdul        Wasay  10000001
116          1002  Aleksandra   Czajkowska  10000002
203          1003  Aleksandra  Evstigneeva  10000003
309          1004        Amir  Benchaouche  10000004
417          1005     Andreas      Dippong  10000005
510          1006      Andrei        Sosna  10000006
623          1007        Ayla       Brner  10000007
729          1008        Azer        Mejri  10000008
804          1009       Bilal     Aldumani  10000009
907          1010   Christina     Glggler  10000010
987          1011   Christina      Revenko  10000011
1047         1012        Dana    Tatarchuk  10000012
1147         1013      Danylo       Karhin  10000013
1273         1014       David     Naumenko  10000014
1351         1015    Desteena       Dinson  10000015

Saved cleaned files to:
CSV : /content/drive/MyDrive/dummy_timesheets_realnames_50_employees.csv
XLSX: /content/drive/MyDrive/dummy_timesheets_realnames_50_employees.xlsx

In [33]:
from google.colab import files

files.download('/content/drive/MyDrive/dummy_timesheets_realnames_50_employees.xlsx')